@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    
}

.form {
    max-width: 430px;
    width: 100%;    
    padding: 30px;
    border-radius: 6px;
    background: #FFFFFF;

}


header {
    font-size: 28px;
    font-weight: 600;
    color: #232826;
    text-align: center;

}

form {
    margin-top: 30px;
    
}

form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    
}
.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px #FFF;   
}

.field button {
    background-color: #0171d3;
    color: #FFF;
    transition: all 0.3s ease;
}

.field button:hover{
    background-color: #016dcb;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}