* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(../img/fundo.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 10px;
    background-color: #fff;
    width: 90%;
    height: 80%;
}

.amodal {
    cursor: pointer;
}

.navbar-toggler {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: #fff;
    border: 1px solid #fff;
    width: 50px;
}

.skinPreview {
    width: 40px;
    height: 40px;
}

#anuncioPreview {
    max-width: 70px;
    max-height: 70px;
}
